
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	
}
body{
	background: rgba(0, 63, 118, 0.75);
	display:grid;
}

h1 {
	font-size: 50px;

	margin: 10px 0 0 0;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	color: #eeeeee;
}

p,mark {
	font-size: 20px;
	font-weight: light;
font-family: 'Balsamiq Sans', cursive;
	color: #333333;

}
p::selection{
background-color: #335789
}

span a {
	font-size: 18px;
font-family: 'Balsamiq Sans', cursive;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&:hover {
		color: #ffffff;
	}
}

@keyframes float {
	0% {
		transform:  scale(1);
	}
	50% {
		
		transform: scale(1.05);
	}

	100% {
		
		transform: scale(1);
	}
}

.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {	
	margin-top: 10px;
	overflow: hidden;
	
	transform: translatey(5px);
	animation: float 3s ease-in-out infinite;
	
}

.content {
	width: 100%;
	max-width: 900px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
}
.container1 {
  width:100%;

}
.card {
  width: 60%;
    /*height: 80%;
max-height: 300px; */
  padding: auto;
  text-align: center;
  border-radius: 10px;
opacity: 0.95;
}
 .card__container {
    display: flex;
    width:100%;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr;
align-items: stretch;
    justify-items: center;
    color: white;
}
@media only screen and (max-width: 400px) {
   .card__container {
    display: flex;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    }
}
.card__content {
    width: 90%;
    height: 95%;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
box-shadow: 16px 16px 44px #00000024, -16px -16px 44px #00000078;
    transition: 0.3s all ease-in-out;

display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
}
    .card__content:hover{
      margin-top:-10px;
    }
  .card__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px auto;
  }
  .card__button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 10px auto;
  }
tr{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
table{
 margin: 10px auto;
}
.box-2{
display: flex;
    flex-direction: column;
    align-items: center;
}
.btn1 {
	line-height: 53px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative;	
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 20px;
	background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 20px;
	background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}
.container3{
width: 100%;
  padding: 0;
  margin: 0;
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #A06CD5;
    border-color: #ffffff;
    color: #ffffff;
    transform: scale(1.1);
}

footer {
  text-align: center;
margin-bottom: 0px;
}


.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;

}

canvas{
z-index: -1;
position: absolute;
height: 390% !important;
}


