
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	
}
body{
	background: rgba(0, 63, 118, 0.75);
}

h1 {
	font-size: 50px;

	margin: 10px 0 0 0;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	color: #eeeeee;
}

p {
	font-size: 20px;
	font-weight: light;
font-family: 'Balsamiq Sans', cursive;
	color: #333333;

}
p::selection{
background-color: #335789
}

span a {
	font-size: 18px;
font-family: 'Balsamiq Sans', cursive;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&:hover {
		color: #ffffff;
	}
}

@keyframes float {
	0% {
		transform:  scale(1);
	}
	50% {
		
		transform: scale(1.1);
	}

	100% {
		
		transform: scale(1);
	}
}

.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {	
	margin-top: 10px;
	overflow: hidden;
	
	transform: translatey(5px);
	animation: float 5s ease-in-out infinite;
	
}

.content {
	width: 100%;
	max-width: 900px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}


